
    <!-- footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto twitter">
            <a href="https://www.twitter.com/py_dev_nav">
              <img class="footer-logo" src="../static/vendor/fontawesome-free/webfonts/twitter-square-brands.svg" alt="twitter-pic">
            </a>
            <a href="https://t.me/nkmrr">
              <img class="footer-logo" src="../static/vendor/fontawesome-free/webfonts/telegram-brands.svg" alt="tele-pic">
            </a>
            <a href="https://www.facebook.com/naveen.kumarmrr">
              <img class="footer-logo" src="../static/vendor/fontawesome-free/webfonts/facebook-square-brands.svg" alt="fb-pic">
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
