{% include 'header.html' %}
{% block body %}
    <style>
        body {
            background-color: #0a4f76;
        }
    </style>
{% endblock %}
     <div class="centering-index mx-auto mt-6">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div>
            <a href="{{ url_for('register') }}">
              <h2 class="log-reg">Register</h2>
            </a>
            <a href="{{ url_for('login') }}">
              <h2 class="log-reg">Login</h2>
            </a>
          </div>
        </div>
      </div>
    </div>

{% include 'footer.html' %}