{% include "header.html" %}
    <!-- index
    <header class="masthead" style="background-color: #0a4f76"> image: url(../static/img/flippi.jpg)"
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mlr-auto">
            <div class="site-heading">
              <a href="{{ url_for('login') }}">
                <h2 class="log-reg">Login</h2>
              </a>
              <a href="{{ url_for('register') }}">
                <h2 class="log-reg">Register</h2>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header> -->
    <div class="centering-home" style="background-color: #0a4f76; padding-left: 10px;">
      <div class="row">
        <div class="col-lg-8 col-md-10 mlr-auto">
          <div class="site-heading">
            <a href="{{ url_for('login') }}">
              <h2 class="log-reg">Login</h2>
            </a>
            <a href="{{ url_for('register') }}">
              <h2 class="log-reg">Register</h2>
            </a>
          </div>
        </div>
      </div>
    </div>


{% include "footer.html" %}