{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

<div class="container mt-6 form">
    <h2>Update</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color:red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-start">
            {{ wtf.quick_form(form, novalidate=true, button_map={"submit":"primary"}) }}
        </div>
    </div>
</div>

{% include "footer.html" %}
